header
	.header-upper
		h1.header-upper-heading DaijiroBlog
		p.header-upper-lead 社会不適合フロントエンジニア
	ul.gnavi-list.nav
		li.gnavi-list-item
			a.gnavi-list-item-link(href="/") TOP
		li.gnavi-list-item
			a.gnavi-list-item-link(href="/") コーディング
			ul.gnavi-drop-list
				li.gnavi-drop-list-item
					a.gnavi-drop-list-item-link(href="/") HTML
				li.gnavi-drop-list-item
					a.gnavi-drop-list-item-link(href="/") HTML
				li.gnavi-drop-list-item
					a.gnavi-drop-list-item-link(href="/") HTML
		li.gnavi-list-item
			a.gnavi-list-item-link(href="/") SEO
			ul.gnavi-drop-list
				li.gnavi-drop-list-item
					a.gnavi-drop-list-item-link(href="/") HTML
				li.gnavi-drop-list-item
					a.gnavi-drop-list-item-link(href="/") HTML
				li.gnavi-drop-list-item
					a.gnavi-drop-list-item-link(href="/") HTML
		li.gnavi-list-item
			a.gnavi-list-item-link(href="/") hogehoge
			ul.gnavi-drop-list
				li.gnavi-drop-list-item
					a.gnavi-drop-list-item-link(href="/") HTML
				li.gnavi-drop-list-item
					a.gnavi-drop-list-item-link(href="/") HTML
				li.gnavi-drop-list-item
					a.gnavi-drop-list-item-link(href="/") HTML
		li.gnavi-list-item
			a.gnavi-list-item-link(href="/") hoge
			ul.gnavi-drop-list
				li.gnavi-drop-list-item
					a.gnavi-drop-list-item-link(href="/") HTML
				li.gnavi-drop-list-item
					a.gnavi-drop-list-item-link(href="/") HTML
				li.gnavi-drop-list-item
					a.gnavi-drop-list-item-link(href="/") HTML

